.formbody {
  display: flex;
  width: auto;
}
.form_input_area {
  display: inline-block;
  width: 100%;
  padding: 0 10% 0 10%;
  margin: 0%;
}

.sidebar {
  height: auto;
  width: 20%;
}
.button_area {
  display: flex;
  justify-content: space-evenly;
}
.align_items {
  width: 100%;
  padding: 25px;
}
/* .align_items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
